body {
  background-color: black;
  color: aliceblue;
  font-size: 14px;
}

nav {
  margin-top: -75px;
}
.unificar {
  margin-top: -16px;
}
.header {
  background-color: aliceblue;
  height: 100px;
  color: black;
  display: block;
  margin-bottom: 120px;
}

.menu {
  display: inline;
  margin-top: -40px;
}

#logo {
  padding-left: 10%;
  width: 100px;
}

nav nav ul li a {
  color: red;
}
nav ul li a:hover {
  color: blue;
  background-color: beige;
  display: block;
  width: 200px;
}

#o_uno {
  margin-left: 25%;
}

#o_dos {
  margin-left: 35%;
}
#o_tres {
  margin-left: 45%;
}
#o_cuatro {
  margin-left: 55%;
}
#o_cinco {
  margin-left: 65%;
}

#buscar {
  margin-left: 75%;
}
